app:
  image: promyze/hub:latest
  databaseEmbedded:
    enabled: true  # use an internal mongodb in the cluster
    pvc:
      enabled: true
      storageClassName: local-path
      storage: 1Gi
      accessModes: ReadWriteOnce
  databaseUri:
    value: mongodb://mongodb:27017/promyze-hub
    db: promyze-hub
    # secret:
    #   name: mongodb-secret
    #   key: mongodb-uri
  variables:  # check the list on https://hub.docker.com/r/promyze/hub
    HUB_URL: http://localhost:3001
    GITLAB_APP_ID: ef436acc
    GITLAB_APP_SECRET: b9fd01620
    GITLAB_URL: https://gitlab.com
  # secrets:  # env variables injected from secrets
  # - envVariable: GITLAB_APP_ID
  #   secretName: secret-openldap
  #   secretKey: openldap-password

ingress:
  enabled: false
  className: ""
  annotations: {}
  tls:
    enabled: false
    # secrets:
    #   app: app-tls-secret
  hostnames:
    # app: hub.promyze.com
